* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Besley', serif;
}

.shop_container {
    width: 920px;
    min-height: 200px;
    margin: 50px auto 0;
}

.dress_container {
    width: -webkit-calc(100% / 3 - 4px);
    display: inline-block;
}

.dress_section {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.dress_section > img {
    width: 100%;
    position: relative;
}

.dress_layover > img {
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.dress_section:hover .dress_layover > img{
    display: block;
}

/* Aggiungi ai preferiti */

.favorite {
    background-color: lightgray;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top:2%;
    left: 6%;
}

.favorite > a {
    font-size: 45px;
    text-decoration: none;
    color: black;
}

.favorite > a:hover {
    color: red;
}

/* Sconto */

.discount {
    background-color: rgb(235, 14, 106);
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 4%;
    left: 0;
}

.discount > span {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 13px 7px;
}

/* Prodotto sostenibile */

.eco {
    background-color: rgba(1, 102, 55, .6);
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 4%;
    left: 22%;
}

.eco > span {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 13px 7px;
}

.without_discount {
    left: 0;
}

/* Descrizione */

.description {
    margin-bottom: 10px;
}

.description * {
    display: inline-block;
    padding-top: 4px;
    padding-right: 5px;
    font-size: 15px;
}

/* Prezzo */

.price_now {
    color: red;
    font-weight: bold;
}

.price_canc {
    text-decoration: line-through;
}